<!DOCTYPE html>
<html>
<head>
    <title>Buttons</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="StyleSheet.css">

    <style>
        body {
            background-image: url("https://media.istockphoto.com/photos/web-contact-us-icons-on-blue-background-contact-us-cutomer-support-picture-id1338907882?b=1&k=20&m=1338907882&s=170667a&w=0&h=p_43GQzYXk9GWkK-TiiNNPSnFgIOAF6B8k0BTKQgs7g=");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

    <h1>Librarian Section</h1>
</head>
<body>
   

    <div class="container">
        <div style="text-align:center" class="buttons">
           <br > <br><a style="background-color:forestgreen; border-color: black; color: white; height: 50px; width: 150px; " href="/Librarian/Index" class="btn btn-3">Add Book</a><br><br>
            <a style="background-color: forestgreen; border-color: black; color: white; height: 50px; width: 150px; " href="/Student/Index" class="btn btn-3">Add Student</a><br><br>
            <a style="background-color: forestgreen; border-color: black; color: white; height: 50px; width: 150px; " href="/Search/Index" class="btn btn-3">View Books</a><br><br>
            <a style="background-color: forestgreen; border-color: black; color: white; height: 50px; width: 150px; " href="/IssueBook/Index" class="btn btn-3">Issue Book</a><br><br>
            <a style="background-color: forestgreen; border-color: black; color: white; height: 50px; width: 150px; " href="/ReturnBook/Index" class="btn btn-3">Return Book</a><br><br>

            <!---- <div style="text-align:center;" class="form-group">
        <br><br><input type="button" style="background-color:green; border-color:black; color:white;height:50px;width:175px; font-size:25px " onclick="location.href = '/Librarian/Index';" value="AddBook" /><br><br>
        <input type="button" style="background-color:green; border-color:black; color:white;height:50px;width:175px; font-size:25px " onclick="location.href = '/Student/Index';" value="AddStudent" /><br><br>
        <input type="button" style="background-color:green; border-color:black; color:white;height:50px;width:175px; font-size:25px " onclick="location.href = '/Search/Index';" value="ViewBooks" /><br><br>
        <input type="button" style="background-color:green; border-color:black; color:white;height:50px;width:175px; font-size:25px " onclick="location.href = '/IssueBook/Index';" value="IssueBook" /><br><br>
        <input type="button" style="background-color:green; border-color:black; color:white;height:50px;width:175px; font-size:25px " onclick="location.href = '/ReturnBook/Index';" value="ReturnBook" />

    </div>-->
        </div>
        </div>
</body>
</html>

