<!DOCTYPE html>
<html>
<head>
    <title>Buttons</title>

    <h1>Student Section</h1>
</head>
<style>
    body {
        background-image: url("https://media.istockphoto.com/photos/web-contact-us-icons-on-blue-background-contact-us-cutomer-support-picture-id1338907882?b=1&k=20&m=1338907882&s=170667a&w=0&h=p_43GQzYXk9GWkK-TiiNNPSnFgIOAF6B8k0BTKQgs7g=");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
    <div>


        <div class="container">
            <div style="text-align:center" class="buttons">
                <br> <br><a style="background-color:forestgreen; border-color: black; color: white; height: 50px; width: 150px; " href="/StudentSection/Index" class="btn btn-3">View Books</a><br><br>
                <a style="background-color: forestgreen; border-color: black; color: white; height: 50px; width: 150px; " href="/StudentSection/Index1" class="btn btn-3">My Books</a><br><br>

                </div>
            </div>


          <!---      <div style="text-align:center;" class="form-group">
                    <br><br><input type="button" style="background-color:green; border-color:black; color:white;height:50px;width:175px; font-size:25px " onclick="location.href = '/StudentSection/Index';" value="ViewBooks" /><br><br>
                    <input type="button" style="background-color:green; border-color:black; color:white;height:50px;width:175px; font-size:25px " onclick="location.href = '/StudentSection/Index1';" value="MyBooks" /><br><br>

                </div>-->

            </div>
</body>
</html>

