@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("https://studentprojectguide.com/wp-content/uploads/2019/09/Library-management-system-synopsis-1024x683.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
    <div class="text-center">
        
            <h1 style="font-size:8em;font-family:'Times New Roman', Times, serif;color:darkgreen"> Welcome</h1>
        

    </div>
    <div style="position:fixed;right:30px;bottom:40px;" class="text-white">
        <input type="button" style="background-color:darkgray; border-color:black; border-radius:40px; color:white;height:30px;width:30px; font-size:15px;font-weight:bold; " onclick="history.back()" value=">" /><br><br>

    </div>


